/*  font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

body {
    background-color: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 0 !important;
}

.newsImg img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: .5em;
}
.main-nav a {
    background: white;
    color: #2c2c2c;
    padding: 0.5rem 1.4rem !important;
    border-radius: 75.5em;
    font-weight: 600;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #dcdcdc;
}

.nav-newsLink {  
    background: white;
    color: #2c2c2c;
    padding: .5rem 1.4rem;
    border-radius: 2.5em;
    font-weight: 600;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #dcdcdc; 
}
.logo {

    background-color: #ff8177;
    background-image: linear-gradient(90deg,#0d6efd 0%, #ae00ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    font-weight: bolder;
    font-size: 1.5rem;
    /* background: linear-gradient(45deg, #0d6efd, #4dc6ff); */
    color: #fff;
    padding: 0.5rem 1rem;
}
.nav-newsLink:hover,.modalBtn:hover,.main-nav a:hover {
    box-shadow: none;  
}
.modalBtn button {
    background: #2a2a2a;
    color: #ffffff;
    padding: 0.5rem 1.4rem;
    border-radius: 0.5em;
    font-weight: 600;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #dcdcdc;
}
.allNewses {
    /* background: #cacaca; */
    padding: 1rem;
    border-radius: 0.5em;
}

.cetegoriesMenu {
    display: flex;
}

.viewSelect {
    width: max-content;
}

.author-img {
    width: 40px;
    border-radius: 100%;
}

.newses {
    background: #ffffff;
    padding: 1rem;
    border-radius: 0.5em;
    margin: 1rem 0;
    box-shadow: 0 0 10px #d1d1d1;
}

.news-details {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 767px) {
    .newses {
        flex-direction: column;
    }

    .newsDetails {
        padding: 1rem !important;
    }

    .newses {
        padding: 0;
    }

    .authorAndView {
        flex-direction: column;
        align-items: flex-start !important;
        padding: 1.5rem 0;
        gap: 0.8rem;
    }

    .newsImg {
        text-align: center;
        padding-top: 2rem;
    }

    /* .modalBtn {
        display: block;
        padding: 1rem 0;
    }
    .modalBtn button {
        position: absolute;
        width: 75%;
    } */

    .viewSelectContain {
        flex-direction: column;
    }

    .viewSelectContain>div {
        padding: .6rem 0;
    }
    .nav-newsItem {
        flex-grow: 1;
        text-align: center;
    }
}