body {
    /* background-color: #18191a; */
}

p {
    margin: 0 !important;
}

.newsImg img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: .5em;
}

.allNewses {
    /* background: #cacaca; */
    padding: 1rem;
    border-radius: 0.5em;
}

.cetegoriesMenu {
    display: flex;
}

.viewSelect {
    width: max-content;
}

.author-img {
    width: 40px;
    border-radius: 100%;
}

.newses {
    background: #f4f3f3;
    padding: 1rem;
    border-radius: 0.5em;
    margin: 1rem 0;
}

.news-details {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 767px) {
    .newses {
        flex-direction: column;
    }
    .newsDetails {
        padding: 1rem !important;
    }
    .newses {
        padding: 0 ;
    }
    .authorAndView {
        flex-direction: column;
        align-items: flex-start !important;
        padding: 1.5rem 0;
        gap: 0.8rem;
    }
    .newsImg {
        text-align: center;
        padding-top: 2rem;
    }
    /* .modalBtn {
        display: block;
        padding: 1rem 0;
    }
    .modalBtn button {
        position: absolute;
        width: 75%;
    } */

    .viewSelectContain {
        flex-direction: column;
    }
    .viewSelectContain > div {
        padding: .6rem 0;
    }
}
